#like_background:hover {
  padding-top: 1px;
  padding-left: 5px;
  min-width: 25px !important;
  min-height: 25px !important;
  background-color: pink;
  border-radius: 50%;
  transition: color 0.2s ease-in-out;
}