<head>
  <%= stylesheet_link_tag 'left_menu' %>
  <%= stylesheet_link_tag 'profile' %>
</head>
<div class="border">
  <%= render partial: "profile/header" %>
  <%= render partial: "profile/profile_data" %>
</div>